@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

body h2 {
  font-size: 20px;
}

body h3 {
  font-size: 18px;
}

body p,
body h4 {
  font-size: 16px;
}

body body a {
  color: white;
}

body #headerTitle {
  margin-top: 3rem;
}

body #header {
  background: #c2165a;
  height: 15rem;
  padding-top: 2rem;
  text-align: center;
  margin: 0;
  background-image: url(../images/paper-colorful-color-loose-40799.jpeg);
  background-repeat: no-repeat;
  color: white;
}

body p {
  font-size: 1.0rem;
}

body body,
body html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

body #background {
  width: 1920px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: -100;
}

body #main {
  height: 80rem;
}

body #main #navbar {
  padding: 0;
  background: #532878;
}

body #main #navbar #startButton {
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

body #main #navbar #dropdownMenuLink {
  margin-left: 5px;
  margin-right: 5px;
}

body #main #navbar a.dropdown-item:hover {
  background: #6b5aa1;
  color: white;
}

body #main #navbar #searchButton {
  background: #0062cc;
  color: white;
}

body #main #mainContainer {
  padding-bottom: 4rem;
  text-align: left;
  border-radius: 15px;
  width: 100%;
  margin-top: 2rem;
}

body #main #mainContainer #centralHeader {
  padding: 5rem;
}

body #main #mainContainer h2,
body #main #mainContainer h3,
body #main #mainContainer h4 {
  text-align: center;
}

body #main #mainContainer #middleContainer {
  padding-right: 37px;
  padding-left: 16px;
  margin-bottom: 4rem;
}

body #main div.card {
  -webkit-box-shadow: 2px 2px 5px 2px #0B173C;
  box-shadow: 2px 2px 5px 2px #0B173C;
  color: black;
  margin-left: 1.8rem;
}

body #main #footer {
  text-align: left;
  margin-top: 2rem;
  padding: 3rem;
  height: 16rem;
  background: #532878;
  color: white;
}

body #main #footer s h3,
body #main #footer p {
  text-align: left;
}

body #main #footer a {
  color: #c4e0ff;
}

body #main #footer a:hover {
  color: darkblue;
}

body #main #footer ul {
  list-style-type: none;
}

body #main #footer #thirthCol {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body #main #footer #thirthCol li {
  margin-left: 2.5rem;
}

body #main #gallery {
  color: white;
  margin-top: 5rem;
  background: transparent;
}

body #main #background {
  opacity: 0.6;
}

body .img__wrapper {
  position: relative;
  overflow: hidden;
}

body .sold_out {
  top: 2em;
  left: -4em;
  color: #fff;
  display: block;
  position: absolute;
  text-align: center;
  text-decoration: none;
  letter-spacing: .06em;
  background-color: #532878;
  padding: 0.5em 5em 0.4em 5em;
  text-shadow: 0 0 0.75em #444;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  font: bold 16px/1.2em Arial, Sans-Serif;
  -webkit-text-shadow: 0 0 0.75em #444;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-45deg) scale(0.75, 1);
  z-index: 10;
  font-style: color white;
}

body .sold_out:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: -0.3em -5em;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  border: 2px rgba(255, 255, 255, 0.7) dashed;
}

body #mobilContainer {
  display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media all and (min-width: 320px) and (max-width: 480px) {
  body div.container {
    background: transparent;
  }
  body #navbar {
    opacity: 1;
  }
  body #navbar li.nav-link {
    padding: unset;
  }
  body #navbar li.nav-link:hover {
    background: darkviolet;
  }
  body #navbar .dropdown-menu {
    width: 100%;
  }
  body #navbar input {
    margin-left: 2rem;
  }
  body #navbar #searchButton:hover {
    background: darkmagenta;
  }
  body #navbar #navbarSupportedContent a {
    width: 100%;
    margin: 0;
    height: 40px;
    border-radius: unset;
  }
  body #navbar #navbarSupportedContent a:hover {
    background: darkmagenta;
  }
  body #navbar i.fas fa-bars {
    margin-left: 3rem;
  }
  body #main #navbar #startButton,
  #dropdownMenuLink {
    margin: 0;
  }
  body #main #mainContainer #centralHeader {
    padding: 0rem;
  }
  body #main #mainContainer #centralHeader div.container {
    padding: 0;
  }
  body #main div.card {
    margin-left: unset;
    width: 17rem;
  }
  body #main #footer {
    display: block;
    height: 36rem;
    padding: 20px;
  }
  #mainContainer {
    display: none;
  }
  body #mobilContainer {
    display: block;
  }
  body #mobilContainer h2 {
    font-size: 18px;
  }
  body #main #footer #thirthCol {
    position: absolute;
    left: -13px;
  }
  body #main #navbar #dropdownMenuLink {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=index.css.map */