@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

body h2 {
  font-size: 18px;
}

body h3 {
  font-size: 16px;
}

body p,
body p.lead,
body h4 {
  font-size: 16px;
}

body h5 {
  font-size: 1rem;
}

body a {
  color: #6dbf1c;
}

body a:hover {
  color: white;
}

body #headerTitle {
  margin-top: 3rem;
  color: #6dbf1c;
}

body #header {
  height: 500px;
  padding-top: 2rem;
  text-align: center;
  margin: 0;
  background-image: url(../images/DarkGreenHeader1520.jpg);
  background-repeat: no-repeat;
  color: white;
  background-repeat: no-repeat;
  background-position: center top;
}

#main {
  background-image: url(../images/DarkGreenBackground1520-2.jpg);
}

#main a.btn {
  background-color: white;
  border-color: white;
}

#main a.btn:hover {
  color: #092514;
  background-color: #6dbf1c;
}

#main #navbar {
  padding: 0;
  background: #092514;
}

#main #navbar #startButton {
  margin-left: 1.5rem;
  margin-right: 0.6rem;
  font-size: 0.9rem;
}

#main #navbar #dropdownMenuLink {
  margin-left: 5px;
  margin-right: 5px;
}

#main #navbar #dropdownMenuLink div.dropdown #dropdownMenuLink {
  border-color: #6dbf1c;
}

#main #navbar #dropdownMenuLink div.dropdown body #main a.btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #6dbf1c;
          box-shadow: 0 0 0 0.2rem #6dbf1c;
}

#main #navbar a {
  color: #092514;
  background-color: white;
  font-size: 0.9rem;
}

#main #navbar a:hover {
  background: #092514;
  color: white;
}

#main #navbar a.dropdown-item:hover {
  background: #092514;
  color: #6dbf1c;
}

#main #navbar #searchButton {
  background: white;
  color: #092514;
}

#main #navbar #searchButton:hover {
  color: white;
  background: #092514;
}

#footer {
  text-align: left;
  margin: 2rem 0 0 0;
  padding: 3rem;
  height: 16rem;
  background: #092514;
  color: white;
}

#footer s h3,
#footer p {
  text-align: left;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: #6dbf1c;
}

#footer ul {
  list-style-type: none;
}

#footer #thirthCol {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#footer #thirthCol li {
  padding-right: 15px;
}

#footer #thirthCol li a:hover {
  height: 5rem;
  background: #fff;
}

#footer #thirthCol li a:hover {
  background: #092514;
  border-radius: 15px;
}

#footer {
  text-align: left;
  margin: 1rem 0 0 0;
  padding: 1rem;
  height: 19rem;
}

#footer .btn-primary {
  color: white;
  background: #6dbf1c;
  border-color: unset;
  font-size: 14px;
  margin-top: 0.5rem;
}

#footer .btn-primary:hover {
  background: #fff;
  color: #092514;
}

#footer #firstBox {
  padding: 2rem;
}

#footer #firstBox p {
  height: 20px;
}

#footer #firstBox h3 {
  text-align: left;
}

#footer #firstBox #thirthCol {
  margin-top: 2rem;
}

#footer #secondBox {
  margin-top: 2rem;
}

#footer #thirdBox {
  margin-top: 2rem;
}

@media (max-width: 1280px) {
  body #header {
    height: 435px;
    padding-top: 2rem;
    text-align: center;
    margin: 0;
    background-image: url(../images/Creativni-header-1280.jpg);
    background-repeat: no-repeat;
    color: white;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 1rem;
  }
  body #header h2,
  body #header h3 {
    color: #092514;
  }
  body #main #navbar a,
  body #main #navbar #startButton {
    font-size: 12px;
  }
  body #main {
    background-image: url(../images/Background-new1280.jpg);
  }
  h2 {
    font-size: 16px;
  }
}

@media (max-width: 1109px) {
  #header {
    background-image: url(../images/Creativni1100.jpg);
    background-repeat: no-repeat;
    color: white;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 1rem;
    height: 372px;
  }
  body #main #navbar,
  .navbar-expand-lg .navbar-nav,
  li.nav-link,
  .btn-primary {
    font-size: 14px;
  }
  body #main #navbar #startButton {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  body #main {
    background-image: url(../images/Background-new1109.jpg);
  }
}

@media (max-width: 991.98px) {
  body #main {
    background-image: url(../images/Background-new991.jpg);
  }
  body #navbar {
    opacity: 1;
  }
  body #navbar li.nav-link {
    padding: unset;
  }
  body #navbar li.nav-link:hover {
    background: darkviolet;
  }
  body #navbar .dropdown-menu {
    width: 100%;
  }
  body #navbar input {
    margin-left: 16rem;
  }
  body #navbar #searchButton:hover {
    background: #6dbf1c;
  }
  body #navbar #navbarSupportedContent a {
    width: 100%;
    margin: 0;
    height: 40px;
    border-radius: unset;
  }
  body #navbar #navbarSupportedContent a:hover {
    background: #6dbf1c;
  }
  body #navbar i.fas fa-bars {
    margin-left: 3rem;
  }
  body #main #navbar #startButton,
  #dropdownMenuLink {
    margin: 0;
  }
  body #main #mainContainer #centralHeader img {
    margin-top: 2rem;
    width: 515px;
    margin-left: 3rem;
  }
  body #main #mainContainer #centralHeader h2 {
    padding: 1rem;
    color: white;
    background: #092514;
    border-radius: 15px;
    font-size: 14px;
  }
  body #main #mainContainer #centralHeader h3 {
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-left: unset;
  }
}
/*# sourceMappingURL=pagetemplate.css.map */