body {
    color: white;

    #main {
        height: 50rem;
    }

    #main #registerForm {
        width: 70%;
        background: lightblue;
        margin: 2rem;
        margin-left: 14rem;
        -webkit-box-shadow: 5px 5px 15px 5px #0B173C;
        box-shadow: 5px 5px 15px 5px #0B173C;
        border-radius: 15px;
        margin: 0 auto;

        #mailForm {

            margin: 8rem auto;
            padding: 3rem;
            background: #7529ad;



        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body #main #registerForm {
        width: 90%;
        margin-top: 1rem;
    }


    body #main #registerForm #mailForm {
        margin: 0rem auto;
        padding: 1rem;
    }
 
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    body #main #registerForm {
        width: 90%;
        margin-top: 1rem;
    }


    body #main #registerForm #mailForm {
        margin: 0rem auto;
        padding: 1rem;
    }
   

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    body #main #registerForm {
        width: 90%;
        margin-top: 1rem;
    }


    body #main #registerForm #mailForm {
        margin: 0rem auto;
        padding: 1remм
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 1109px) {}