:root {
  --primary-color: #092514;
  --primary-hover-color: #004E1F;
  --success-color: #6dbf1c;
  --success-hover-color: #A2F352;
  --warning-color: #FF8607;
  --warning-hover-color: #FEB22E;
  --danger-color: #FF0048;
  --danger-hover-color: #D11159;
  --info-color: #00D6C7;
  --info-hover-color: #7AEFE7;
  --white-color: #ffffff;
  --gray-color: #ccc;
  --rem: 16px;
  --nav-height: 3.25rem;
  --header-desktop-background-image: url(../../images/Creativni1280.jpg);
  --header-notebook-background-image: url(../../images/Creativni990.jpg);
  --header-tablet-background-image: url(../../images/Creativni767.jpg);
  --header-mobile-background-image: url(../../images/Creativni575.jpg);
  --main-background-image: url(../../images/Background-new6.jpg);
  --btn-nav-max-height: 3.2vw;
  --footer-gap: 3rem;
}