.mi-header {
  color: var(--success-color);
  background-image: var(--header-desktop-background-image);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  margin: 0;
  padding-top: 5.85vw;
  min-height: 36.5vw;
}

.mi-header h1, .mi-header h2 {
  font-weight: 500;
  padding: 0;
}

.mi-header h1 {
  margin: 0;
  font-size: 5vw;
}

.mi-header h2 {
  margin: .3rem 0 0 0;
  font-size: 2vw;
}

@media only screen and (max-width: 991px) {

  .mi-header {
    background-image: var(--header-notebook-background-image);
  }

}

@media only screen and (max-width: 768px) {

  .mi-header {
    background-image: var(--header-tablet-background-image);
  }

}

@media only screen and (max-width: 575px) {

  .mi-header {
    background-image: var(--header-mobile-background-image);
    background-color: #f8f3f5;
    min-height: 60vw;
  }

  .mi-header h1 {
    margin-top: 12vw;
    font-size: 7vw;
    font-weight: 500;
    margin-bottom: 2vw;
  }

  .mi-header h2 {
    font-size: 2.5vw;
  }

}